@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    background-origin: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(204, 204, 204), rgba(67, 74, 96, 0.045)), url(4833552.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

nav {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 35px 5%;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav.sticky{
    padding: 10px 0px;
    background-color: black;
}

nav .logo a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

nav .navLinks button {
    padding: 2px 20px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
    margin-left: 10px;
}

nav ul li:hover {
    background-color: gray;
}

nav .menubtn {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

/* responsive navbar css */
@media screen and (max-width: 600px) {
    nav .menubtn {
        display: flex;
    }

    nav .navLinks {
        display: none;
    }

    .sideNav {
        display: block !important;
    }
}

.sideNav {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: black;
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
}

.sideNav a {
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #d1d1d1;
    transition: 0.3s;
    text-decoration: none;
}

.sideNav a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
}

.sideNav a:hover {
    color: white;
}

.sideNav .closeBtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 10%;
}

.row .column1 {
    padding-right: 50px;
}

.column1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.column1 p {
    font-size: 25px;
    margin-bottom: 20px;
}

.column1 button {
    width: 150px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

/* Header content responsive */
@media screen and (max-width: 980px) {
    .column2 img {
        width: 350px;
    }

    .column1 h1 {
        font-size: 40px;
    }

    .column1 p {
        font-size: 17px;
    }

    .row {
        margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {

    .column1 h1 {
        font-size: 35px;
    }

    .row {
        flex-direction: column;

    }

    .row .column1 {
        padding: 30px;
    }
}

/* Box */

.box {
    margin: auto;
    width: 25%;
    padding: 10px;
    border: 1px solid #f2f2f2;
    background-color: rgb(128, 113, 113);
    height: auto;
    background-color: #7e7979;
    box-shadow: 1px 2px 67px 1px rgba(0, 0, 0, 0.64) inset;
    -webkit-box-shadow: 1px 2px 67px 1px rgba(0, 0, 0, 0.64) inset;
    -moz-box-shadow: 1px 2px 67px 1px rgba(0, 0, 0, 0.64) inset;
}

.result{
    display: flex;
    font-size: 50px;
    padding: auto;
    font-weight: 700;
    text-align: right;
    width: 100%;
    border: none;
    background-color: #F8F8F8;
}

.first,
.second,
.third,
.fourth {
    display: inline-block;
    width: 100%;

}

.numbers {
    display: flex;
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #F2F2F2;
    float: left;
    width: 23.5%;
    margin: 0 2px;
    text-align: center;
}

.footer {
    display: flex;
    font-size: 15px;
    justify-content: center;align-self:stretch;
    border-bottom: 1px solid black;
}
.pe {
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-content: center;
}